<h1>Create Dog</h1>
<form action="/dogs/" method="POST">
    <div>
        <label>Name</label>
        <input name="dog[name]" type="text" />
    </div>
    <div>
        <label>Breed</label>
        <input name="dog[breed]" type="text" />
    </div>
    <div>
        <label>Weight</label>
        <input name="dog[weight]" type="number" />
    </div>
    <input type="submit">
</form>