<h1>Create Leash</h1>
<form action="/leashes/" method="POST">
    <div>
        <label>Color</label>
        <input name="leash[color]" type="text" />
    </div>
    <div>
        <label>Length</label>
        <input name="leash[length]" type="text" />
    </div>
    <div>
        <label>Dog</label>
        <select name="leash[dog_id]">
            <% @dogs.each do | dog | %>
                <option value="<%=dog.id%>"> <%= dog.name%></option>
            <% end %>
        </select>
    </div>
    <input type="submit">
</form>