<h1>Create Book</h1>

<form action="/books" method="POST">
  <input name="title" placeholder="Title">
  <input name="author" placeholder="Author">
  <input name="snippet" placeholder="Snippet">
  <button>Create book</button>
</form>